@media (min-width: 980px) {
    body {
      padding-top: 60px;
      padding-bottom: 40px;
    }
}

.carousel .item {
  background: #333;
  text-align: center;  
}
.carousel .item > img {
  margin: 0 auto;
}
.hero-unit { padding: 10px; max-height: 100px; overflow: hidden }
.hero-unit img { border-radius: 5px; width: 100%;}

img { max-width: 100%; }


.category img { width: 100%; margin-top: 5px; margin-bottom: 10px; }